<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.mapper.ShippingAddressMapper">
	<select id="findAll" resultMap="ShippingAddress">
		select * from SHIPPINGADDRESS where USERNAME_ID = #{userid}
	</select>
	
	<insert id="create" useGeneratedKeys="true" keyColumn="SHIPPINGADDRESS_ID" keyProperty="id">
		insert into SHIPPINGADDRESS values(seq_shippingaddress.nextval,
		#{username.id}, #{name}, #{phoneNumber}, #{address})
	</insert>
	
	<delete id="delete">
		delete from SHIPPINGADDRESS where SHIPPINGADDRESS_ID = #{id}
		and USERNAME_ID = #{userid}
	</delete>
	
	<update id="update">
		update SHIPPINGADDRESS set CONSIGNEE_NAME = #{name},
		PHONE_NUMBER = #{phoneNumber}, ADDRESS = #{address}
		where SHIPPINGADDRESS_ID = #{id}
	</update>
	
	<select id="findOne" resultMap="ShippingAddress">
		select * from SHIPPINGADDRESS
		where SHIPPINGADDRESS_ID = #{id} and USERNAME_ID = #{userid}
	</select>
	
	<resultMap type="shop.model.ShippingAddress" id="ShippingAddress">
		<id column="SHIPPINGADDRESS_ID" property="id"/>
		<result column="CONSIGNEE_NAME" property="name"/>
		<result column="PHONE_NUMBER" property="phoneNumber"/>
		<result column="ADDRESS" property="address"/>
		<association property="username" javaType="shop.model.Username">
			<id column="USERNAME_ID" property="id"/>
			<result column="USERNAME_NAME" property="username"/>
		</association>
	</resultMap>
</mapper>












